@font-face {
  font-family: HardGrunge;
  src: url('../fonts/Hard Grunge.ttf');
}

body{
  background: url('../images/background.jpg');
  background-repeat: repeat;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.ui-btn{
  width: 150px;
  height: 45px;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  font-family: HardGrunge;
  font-size: 40px;
  text-shadow: 0 0 5px white;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 2px black;
}

#puntaje{
  top: 10px;
  left: 840px;
}

.vidaTotal{
  height: 25px;
  top: 20px;
  left: 60px;
}

#vida{
  width: 100%;
  height: 100%;
  background-color: #d62124;
}

.logo{
  top: 8px;
  left: 13px;
  position: absolute;
  z-index: 1;
}

#jugar{
  top: 450px;
  left: 375px;
  width: 250px;
  height: 100px;
  color: #e1e1e1;
  font-size: 80px;
  cursor: pointer;
  z-index: 2;
  background-color: transparent;
  box-shadow: none;
  animation: blink 4s ease-in infinite;
}

#moon{
  width: 830px;
  height: 448px;
  top: 550px;
  z-index: -1;
  background-image: url('../images/moon.png');
  animation-timing-function: ease;
}

#game-over{
  width: 400px;
  height: 230px;
  top: 200px;
  left: 300px;
  font-size: 100px;
  visibility: hidden;
  text-shadow: 0 0 15px white;
  background-color: transparent;
  box-shadow: none;
}

#intro{
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url('../images/intro.png');
  background-size: cover;
  z-index: 2;
}

@keyframes flash{
  0% { color: white; }
  100% { color: black; }
}

@keyframes gameOver{
  0% { top: 550px; }
  15% { top: 100px; }
  80% { top: 100px; }
  100% { top: 550px; }
}

@keyframes blink{
  40% { opacity: 0.7; }
  100% { opacity: 1; }
}
